@charset "UTF-8";
@import url(../css/reset.css);

/*banner css*/

body{
  padding: 20px;
  background-color: #222222;
}

a.banner{
  position: relative;
  display: block;
  width: 728px;
  height: 176px;
  border: 1px solid #555555;
  background:
    url("images/banner-arrow.png") no-repeat -100px 140px,
    url("images/banner-photo.png") no-repeat -40px 220px,
    url("images/banner-09.png") no-repeat -20px -380px,
    url("images/banner-bg.png") no-repeat 0px 0px;

  transition: background-position .2s ease-in .2s;
}

/*animation*/
a.banner:hover,
a.banner:focus{
  background-position:
    20px 140px,
    -40px 20px,
    -20px -90px,
    0 0 ;
}
a.banner:hover .banner-desc,
a.banner:focus .banner-desc{
  opacity: 1;
}
a.banner:hover .banner-logo,
a.banner:focus .banner-logo{
  left:540px;
}


/*logo*/
a.banner .banner-logo{
  position: absolute;
  top: 20px;
  left: 270px;
  transition: all .4s ease-out .3s;
}

/*description*/
/*<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">*/
a.banner .banner-desc{
  opacity: 0;
  font: 39px/0.9 'Barrio', cursive; /*google web font*/
  position: absolute;
  top: 35px;
  left: 170px;
  color: #4ebaba;
  transition: all .4s ease-out .3s;
}

a.banner .banner-desc strong{
  font-size: 23px;
}
